<div [hidden]="showSuccessMsg">
  <div class="container " style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
      <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
        <div align="center" style=" margin-top: 20px;">
          <p style="font-size:larger"><strong style="color: #666;"> Upload Profile Image</strong></p>
        </div>
        <form (ngSubmit)="onSubmit()" #uploadprofileForm="ngForm" novalidate autocomplete="off">
          <div>
            <app-alert></app-alert>
          </div>
          <div class="form-group form-row">
            <label>UserName (Email):</label> {{user.userName}}
          </div>
          <div class="form-group">
            <label for="fileInput">Current profile picture: </label>
            <img src="{{SOCKET_URL}}profileimage/{{basicUserService.basicuser.profileImage}}" height="30px" width="30px" alt="profile" />
          </div>
          <div class="form-group">
            <label for="fileInput">Upload New Profile Image: </label>
            <input type="file" class="form-control" id="fileInput" name="fileInput" (change)="onFileChange($event)" placeholder="Upload file"
              accept=".gif,.jpg,.jpeg,.png">
            <div *ngIf="this.url">
              <img [src]="url" style="width:100px;height:100px;">
            </div>
          </div>
          <div class="form-group" align="center">
            <button class="form-control btn btn-success" [disabled]="!uploadprofileForm.valid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSuccessMsg">
  <div class="container " style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
      <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
        <div align="center" style=" margin-top: 20px;">
          {{infoResponse.message}}.
          <button type="button" class="form-control btn btn-success" (click)="onContinue()">Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>