<div [hidden]="showSuccessMsg">
  <div class="container " style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
      <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
        <div align="center" style=" margin-top: 20px;">
          <p style="font-size:larger"><strong style="color: #666;"> My Profile</strong></p>
        </div>
        <form (ngSubmit)="onSubmit()" #myprofileForm="ngForm" novalidate autocomplete="off">
          <div>
            <app-alert></app-alert>
          </div>
          <div class="form-group form-row">
            <label>UserName (Email):</label> {{user.userName}}
          </div>
          <app-form-input-givenname [givenName]="user.givenName"></app-form-input-givenname>
          <div class="form-group">
            <label for="publicProfile">Public profile</label>
            <textarea class="form-control" id="publicProfile" name="publicProfile" rows="{{constantService.TEXTAREA_ROWS}}"
              cols="{{constantService.TEXTAREA_COLUMNS}}" maxlength="constantService.TEXTAREA_MAXLENGTH_REGULAR"
              pattern={{constantService.ALPHANUMERIC_SOMESPECIALCHARS_PATTERN}} [(ngModel)]="user.publicProfile" #publicProfile="ngModel"></textarea>
            <div [hidden]="publicProfile.valid || publicProfile.pristine" class="alert alert-danger">
              Public Profile {{constantService.MESSAGE_REQUIRED}} and
              {{constantService.MESSAGE_ALPHANUMERIC_SOMESPECIALCHARS_PATTERN}}
            </div>
          </div>
          <div class="form-group">
            <label for="fileInput">Current profile picture: </label>
            <img src="{{SOCKET_URL}}profileimage/{{basicUserService.basicuser.profileImage}}" height="30px" width="30px" alt="profile" />
          </div>
          <div class="form-group">
            <label for="fileInput">Select File: </label>
            {{user.profileImage}}
            <input type="file" class="form-control" id="fileInput" name="fileInput" (change)="onFileChange($event)" placeholder="Upload file"
              accept=".gif,.jpg,.jpeg,.png">
            <div *ngIf="this.url">
              <img [src]="url" style="width:100px;height:100px;">
            </div>
          </div>
          <div class="form-group" align="center">
            <button class="form-control btn btn-success" [disabled]="!myprofileForm.valid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSuccessMsg">
  <div class="container " style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
      <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
        <div align="center" style=" margin-top: 20px;">
          {{infoResponse.message}}.
          <button type="button" class="form-control btn btn-success" (click)="onContinue()">Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>