<div class="form-group form-row">
  <label for="fullName">* Name</label>
  <input type="text" class="form-control" id="fullName" name="fullName" required maxlength="{{constantService.INPUTTEXT_MAXLENGTH_REGULAR}}"
    pattern={{constantService.ALPHANUMERIC_SOMESPECIALCHARS_PATTERN}} [(ngModel)]="givenName" #fullName="ngModel" />
  <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger">
    Name {{constantService.MESSAGE_REQUIRED}} and {{constantService.MESSAGE_ALPHA_PATTERN_WITHSPACE}}.
  </div>
</div>