<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/user/list']">Users</a>
      </li>
      <li *ngIf="basicUserService.isAdmin()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <button type="button" class="btn" (click)="headerService.introMethod(true)"><i class="fa fa-question-circle-o fa-lg fa-help"></i></button>
      <select id="selectlang" (change)="onChangeLang()" [(ngModel)]="headerService.selectedLang">
        <option *ngFor="let language of languageList" value={{language.code}}>
          {{language.label}}</option>
      </select>
      <br />

      <li *ngIf="!basicUserService.isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/user/register']">Register</a>
      </li>
      <li *ngIf="!basicUserService.isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/user/login']">Login</a>
      </li>
      <li *ngIf="basicUserService.isLoggedIn()" class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="assets/images/default-user.png" height="30px" width="30px" alt="profile" />
            Welcome {{basicUserService.basicuser.givenName}}
          </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" [routerLink]="['/user/myprofile']">
              <i class="mdi mdi-settings text-primary"></i>
              Manage Accounts
            </a>
          <a class="dropdown-item" [routerLink]="['/user/change-password']">
              <i class="mdi mdi-account-key text-primary"></i>
              Change Password
            </a>
          <a class="dropdown-item" [routerLink]="['/user/logout']">
              <i class="mdi mdi-logout text-primary"></i>
              Log Out
            </a>
        </div>
      </li>
    </ul>
  </div>
</nav>