<div class="form-group form-row">
  <label for="password">* Password:</label>
  <input type="password" class="form-control" id="password" name="password" required maxlength="{{constantService.PASSWORD_MAXLENGTH}}"
    pattern={{constantService.SECRETKEY_PATTERN}} [(ngModel)]="userPassword" #password="ngModel" />
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
    Password {{constantService.MESSAGE_REQUIRED}} and {{constantService.MESSAGE_SECRETKEY_PATTERN}}
  </div>
</div>
<div class="form-group form-row">
  <label for="cnfPassword">* Confirm Password:</label>
  <input type="password" class="form-control" id="cnfPassword" name="cnfPassword" required [(ngModel)]="confirmPassword" #cnfPassword="ngModel"
    [equal]="userPassword" />
  <div [hidden]="cnfPassword.valid || cnfPassword.pristine" class="alert alert-danger">
    Confirm password need to match with new password.
  </div>
</div>