<div [hidden]="showSuccessMsg">
  <div class="container " style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
      <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
        <div align="center" style=" margin-top: 20px;">
          <p style="font-size:larger">
            <strong style="color: #666;"> Register</strong>
          </p>
        </div>

        <form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate autocomplete="off">
          <div>
            <app-alert></app-alert>
          </div>
          <app-form-input-givenname [givenName]="user.givenName"></app-form-input-givenname>
          <app-form-input-username [userName]="user.userName"></app-form-input-username>
          <!-- <app-form-input-password [userPassword]="user.userPassword"></app-form-input-password> -->
          <app-form-input-cnfpassword [confirmPassword]="user.confirmPassword"></app-form-input-cnfpassword>
          <div class="form-group">
            <label for="acceptTC"></label>
            <input type="checkbox" id="acceptTC" name="acceptTC" [(ngModel)]="user.acceptTC" #acceptTC="ngModel" required pattern="true">
            Accept By accepting, you agree to the
            <a href data-toggle="modal" data-target="#privacyModal"> Privacy Policy</a> & <a href data-toggle="modal"
              data-target="#tcModal">Terms and Conditions</a>
          </div>
          <div [hidden]="acceptTC.valid || acceptTC.pristine" class="alert alert-danger">
            Please accept Terms & Conditions.
          </div>
          <div class="form-group" align="center">
            <button class="form-control btn btn-success" [disabled]="!registerForm.valid || isLoading">Register
            </button>form: {{this.registerForm.value | json}}
          </div>
          <div class="form-group">
            Already have signed up?
            <a [routerLink]="['/user/login']">
              Login
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSuccessMsg">
  <div class="container " style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
      <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
        <div align="center" style=" margin-top: 20px;">
          {{infoResponse.message}}.
          <button type="button" class="form-control btn btn-success" (click)="onContinue()">Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="tcModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Terms and Conditions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-terms-conditions></app-terms-conditions>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="privacyModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">PrivacyPolicy</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-privacy-policy></app-privacy-policy>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>