<div class="container " style="margin-top: 20px;">
  <div class="col-md-push-3 col-sm-push-3 col-md-6 col-sm-6 col-xs-12 center-block border" style="background-color: #f8faea;">
    <div class="col-md-12 col-sm-12 col-xs-12 center-block ">
      <div align="center" style=" margin-top: 20px;">
        <p style="font-size:larger">
          <strong style="color: #666;"> Login</strong>
        </p>
      </div>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
        <div>
          <app-alert></app-alert>
        </div>
        <div class="form-group form-row">
          <label for="userName">Username:</label>
          <input type="text" class="form-control" id="userName" [(ngModel)]="user.userName" name="usename" required>
        </div>
        <div class="form-group form-row">
          <label for="userPassword">Password:</label>
          <input type="password" class="form-control" id="userPassword" [(ngModel)]="user.userPassword" name="userPassword" required>
        </div>
        <div class="form-group" align="center" style="padding-bottom: 30px ">
          <button type="submit" style="outline-style:none" class="form-control btn btn-success" [disabled]="!loginForm.valid || isLoading">Login
          </button>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-12 col-md-4 col-xs-12">
          <a [routerLink]="['/user/forget-password']">
              <small>Forgot Password?</small>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-xs-12">
          <a [routerLink]="['/user/verificationcode/form']">
              <small>Submit Verification Code</small>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-xs-12">
          <a [routerLink]="['/user/verificationcode/resend']">
              <small>Re-Send Verification Code</small>
            </a>
        </div>
      </div>
      <div class="row">
        <div style="padding-bottom: 30px" class="col-sm-12 col-md-12 col-xs-12">
          <small> Don't have account?</small>
          <a [routerLink]="['/user/register']">
              <small>Create NOW</small>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>